body {
    font-family: "Avenir Next";  
   }
   li {
    list-style: none;
    float: left;
    padding: 33px 20px;
  }
   .header{
    background-color: #9EF8B1;
    height: 90px;
  }
  .header-logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    float: left;
    padding: 20px 40px;
    margin-right: 50px;
  }
  .header-list li {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    float: left;
    padding: 33px 20px;
    margin-left: 30px;
  }
  .main{
    padding: 100px 80px;
    background-image: url("C:\Users\Princess\OneDrive - Ashesi University\Yielding Accomplished African Women\JavaScript on Educative\Princess Asante YAAW Meeting\fashion.jpg");
    background-size: cover;
    width: auto;
    height: auto;
    padding: 80px 90px;
    margin-bottom: 0px;
  }
  .copy-container h1 {
    font-size: 100px;
  }
  .copy-container h2 {
    font-size: 60px;
  }
  .copy-container span {
    color: #FF4A4A;
  }
  .footer{
    background-color: #0496F7;
    color: #fff;
    height: 50px;
    padding: 15px;
    margin-bottom: 0px;
  }
  .footer-logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 20px;
    float: left;
  }
  .footer-list {
    float: right;
  }
  .footer-list li {
    font-family: serif;
    color: black;
    padding-top: 0px;
    padding-bottom: 15px;
  }
